td, th {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Lato', sans-serif;
}

.filters th {
  background: white;
}

.filters th input {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
}

#result {
  border: 1px solid #888;
  background: #f7f7f7;
  padding: 1em;
  margin-bottom: 1em;
}

.order input {
  display: none;
}

.even td {
  background: #F2F2F2;
}

#myTable td {
  font-size: 12px;
}

#myTable th {
  text-align: center;
  font-size: 14px;
}

.dtfh-floatingparenthead {
  font-size: 14px;
}

.dtfh-floatingparenthead table thead tr th {
  text-align: center;
}

.dataTables_filter input {
  border-radius: 8px;
}

.dataTables_filter label, .dataTables_length label, .dataTables_info {
  color: #3579F6;
  font-size: 14px;
}

.previous a, .next a, .page-item a {
  border: none;
  font-size: 14px;
}

.page-item.active .page-link {
  border-radius: 8px;
  background: #3579F6;
}

.page-link:hover {
  border-radius: 8px;
}

.page-item.active .page-link {
  border-radius: 8px;
  background: #3579F6;
}